@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070F2B;
  --foreground: #171717;
}

* {
  color: #9DA4BA;
  font-family: "Inconsolata", serif;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blog-content > *{
  color: #9DA4BA;
}

.blog-content h2{
  font-weight: 800!important;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-content p{
  margin-bottom: 10px;
}